# Pour le développement local et la production (Cloudflare/Vercel)
# Crée ton projet sur https://neon.tech et colle l'URL ici
DATABASE_URL=postgresql://neondb_owner:xxx@ep-xxx-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require
